flask==3.0.3
flask-cors==4.0.1
flask-sqlalchemy==3.1.1
flask-socketio==5.3.6
ultralytics==8.2.0
opencv-python==4.9.0.80
numpy==1.26.4
Pillow==10.3.0
scikit-image==0.22.0
shapely==2.0.4
pyproj==3.6.1
PyJWT==2.8.0
marshmallow==3.21.2
reportlab==4.1.0
requests==2.31.0
python-dotenv==1.0.1
sqlalchemy==2.0.29
werkzeug==3.0.3
eventlet==0.35.2
apscheduler==3.10.4
psycopg2-binary==2.9.9
earthengine-api==0.1.396
geopy==2.4.1
cloudinary==1.40.0
